<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sumplus.barros.com.mystore">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity android:name=".RegistroActivity" />
        <activity
            android:name=".ProdutosActivity"
            android:label="Lista de produtos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastrarProdutoActivity"
            android:label="Cadastro de produtos" />
        <activity android:name=".EditarProdutoActivity"></activity>
    </application>

</manifest>